[Unit]
Description=Check every 5 minutes that PRISM is attached to Beam's Caddy

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
